
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.message__area::-webkit-scrollbar {
    display: none;
}

body {
    min-height: 100vh;
    background: white;
    font-family: 'Roboto', sans-serif;
}

section.chat__section {
    width: 600px;
    max-width: 90%;
    background: #1b1b1b;
    border-radius: 12px;
    margin: auto;
    margin-top: 30px;
}

.message__area{
    height: 500px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding-top: 40px;
}
textarea {
    width: 100%;
    border: none;
    padding: 20px;
    font-size: 16px;
    outline: none;
    background: #101010;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.message {
    padding: 20px; 
    border-radius: 4px; 
    margin-bottom: 40px;
    max-width: max-content;
    position: relative;
}


.incoming {
    background: rgb(90, 238, 83);
    color: #fff;  
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
.outgoing {
    background: #e9eafd;
    color: #787986;
    margin-left: auto;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
.message h4 {
    position: absolute;
    top: -20px;
    left: 0;
    color: #b8b8b8;
    font-size: 14px;
}

body h1{
    color: rgb(18, 18, 18);
    text-align: center;
    width: 100%;
    font-size: 60px;
    padding: 10px;
}

.about{
    color: rgb(18,18,18);
    width: 100%;
    /* display: flex; */
    /* justify-content: center; */
    text-align: center;
    margin-top: 30px;
}

.about p{
    text-transform: uppercase;
    font-size: 20px;
    width: max-content;
    margin: auto;
    padding-left: 5%;
    padding-right: 5%;
    width: 1000px;
}

.about ul li{
    width: max-content;
    display: inline-block;
}

.about ul li img
{
    height: 50px;
}

.about h3{
    color: rgb(90, 238, 83);
    padding: 30px;
    font-size: 40px;
    padding-bottom: 5px;
}

.social img{
    height: 100px;
}

#textarea::placeholder {
    color: #ffffff; 
  }
  
  #textarea {
    color: #fffcfc; 
  }
  

  #theme-toggle {
    position: absolute;
    top: 0;
    background-color: #4CAF50; 
    color: white;
    border-radius: 10px; 
    padding: 10px 20px;
    text-align: center; 
    text-decoration: none;
    font-size: 16px; 
    margin: 20px; 
    cursor: pointer; 
    font-family: 'Roboto', sans-serif;
  }
  
  #theme-toggle:hover {
    background-color: #3e8e41; /* change the button background color on hover */
  }